*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

h1 {
  margin: 75px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 8vh;
}

h2 {
  flex: 1;
  margin: 75px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.4);
  font-size: 2vh;
}

.portrait {
  width: auto;
  height: 60vh;
}

.tiltcard {
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.25);
  margin: 0 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
